body
{
	background-color:Peru;
}
div
{
	text-align:center;
}
h2
{
	color:#c71585;
}
.table-bordered
{
	background-color:#FFFFFF;
}
thead
{
	font-size:20px;
	color: #4B0082;
}
.c1
{
	color: #FF0000 ;
}
.c2
{
	color: #FFA500;
}
.c3
{
	color:#FFFF00 ;
}
.c4
{
	color:#008000 ;
}
.c5
{
	color: #00FFFF;
}
.c6
{
	color:#0000FF ;
}
.c7
{
	color: #800080;
}



.bc1
{
	background-color: #FF0000 ;
}
.bc2
{
	background-color: #FFA500;
}
.bc3
{
	background-color:#FFFF00 ;
}
.bc4
{
	background-color:#008000 ;
}
.bc5
{
	background-color: #00FFFF;
}
.bc6
{
	background-color:#0000FF ;
}
.bc7
{
	background-color: #800080;
}


/*.img-thumbnail
{
	text-align:center;
}
*/
